<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/dbsituacionderevista</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">123xxx</property>
    <mapping resource="hibernate/mapping/Renuncia.hbm.xml"/>
    <mapping resource="hibernate/mapping/Horadesignada.hbm.xml"/>
    <mapping resource="hibernate/mapping/Materia.hbm.xml"/>
    <mapping resource="hibernate/mapping/Usuario.hbm.xml"/>
    <mapping resource="hibernate/mapping/Situacionrevista.hbm.xml"/>
    <mapping resource="hibernate/mapping/Persona.hbm.xml"/>
    <mapping resource="hibernate/mapping/Docente.hbm.xml"/>
    <mapping resource="hibernate/mapping/Licencia.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
